@font-face {
    font-family: 'icomoon';
    src: url('../../fonts/icomoon.eot?uy7w7m');
    src: url('../../fonts/icomoon.eot?uy7w7m#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf?uy7w7m') format('truetype'),
        url('../../fonts/icomoon.woff?uy7w7m') format('woff'),
        url('../../fonts/icomoon.svg?uy7w7m#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

#field {
    background-color:#f5f5f5;
    font-family: 'Microsoft YaHei',Arial, Helvetica, sans-serif;
}

#field .w {
    width: 1200px;
    margin: auto;
}

#field li{
    list-style: none;
}

#field a{
    text-decoration: none;
}

#field .img{
    border: 0;
    vertical-align: middle;
}

#field button{
    cursor:pointer;
}

#field .header {
    height: 70px;
    background-color: #f5f5f5;
    margin: 30px auto;
}

#field .logo{
    float: left;
    width: 184px;
    height: 70px;
    border-top: none;
}

#field .nav {
    float: left;
    margin-left: 60px;
    border-top: 4px solid lightsalmon;
    border-bottom: 2px solid #edeef0;
    line-height: 70px;
    
}

#field .nav li {
    float: left;
    margin:0 25px;
}

#field .nav li a {
    display: inline-block;
    padding: 0 15px;
    height: 69px;
    font-size: 16px;
    color: #4c4c4c;
}

#field .nav li a:hover{
    color: lightsalmon;
}

#field .nav span{
    display: inline-block;
    font-family: 'icomoon';
    font-size: large;
}
#field .avatar {
    float: right;
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

#field .avatar__image {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

#field .avatar a {
    font-size: small;
    color: #333;
    margin-left: 6px;
}
#field .search{
    top:10px;
    left: 400px;
    width: 500px;
    height: 36px;
    border: 3px solid lightsalmon;
}

#field .search input{
    float: left;
    width: 423px;
    height: 31px;
    padding-left: 30px;
    border: none;
}

#field .search button{
    float: left;
    width:77px;
    height: 39px;
    border: none;
    background-color:lightsalmon;
    color:white;
    font-weight: 600;
}

#field .list th{
    height: 40px;
    font-size: large;
    font-weight: 700;
}
#field table a{
    color: #333;
}

#field table a:hover{
    color: lightsalmon;
}

#field table{
    width: 1200px;
    border: 1px solid lightgray;
    margin-top: 20px;
    text-align: center;
}

#field .cata {
    float:left;
    text-align: center;
}

#field .cata a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 36px;
    color: black;
}

#field .cata .prev,
#field .cata .next {
    width: 85px;

}

#field .cata .current,
#field .cata .elp {
    border: none;
}

#field .cata input{
    width: 45px;
    height: 34px;
    border: 1px solid #ccc;
    outline: none;
}

#field .cata button{
    width: 45px;
    height: 34px;
    border: 1px solid #ccc;
    outline: none;
}

#field .publish_new {
    text-align: center
}