#login a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

#login {
    float: left;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgb(255, 160, 122) 0%, rgb(222, 204, 140) 100%) no-repeat;
    position: absolute;
}

#login .Box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
}

#login .Box form {
    width: 100%;
    max-width: 450px;
    margin-top: 10%;
}

#login .Box form h4 {
    color: white;
    font-weight: 100;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
}

#login .Box form .putin input,
#login .Box form .btn {
    outline: none;
    display: block;
    width: 100%;
    height: 2.8rem;
    line-height: 2.8rem;
    margin-bottom: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 20%);
    border: none;
    border-radius: 2.5rem;
    text-indent: 1rem;
    transition: background-color .3s;
}


#login .Box form .btn {
    text-align: center;
    border: 1px solid white;
    background-color: transparent;
}

#login .Box form .putin input::placeholder {
    color: white;
}

#login .Box form .putin input:hover {
    background-color: rgba(0, 0, 0, 40%);
}

#login .Box form .putin input:focus {
    background-color: rgba(0, 0, 0, 50%);
}

#login .fn label {
    font-size: 0.8rem;
}

#login .fn label input[type="checkbox"] {
    display: none;
}

#login .fn label input[type="checkbox"]+span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    padding: 2.3px;
    border: 1px solid #eee;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
}

#login .fn label input[type="checkbox"]+span>span {
    float: left;
    width: 0.6rem;
    height: 0.6rem;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
}

#login .fn label input[type="checkbox"]:checked+span {
    border-color: white;
}

#login .fn label:hover input[type="checkbox"]+span>span {
    opacity: .5;
}

#login .fn label input[type="checkbox"]:checked+span>span {
    opacity: 1;
}

#login .fn,
#login .login {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem !important;
}

#login .login a,
#login .login input {
    overflow: hidden;
    height: 2.5rem;
    line-height: 2.5rem;
    border: 1px solid #eee;
    border-radius: 2.5rem;
    margin: 0.5rem 0;
    color: #eee;
    background-color: transparent;
    text-align: center;
}

#login .login a {
    width: 40%;
}

#login .login input {
    width: 60%;
}

#login .login span {
    margin: 0.5rem;
    font-size: 0.8rem;
    line-height: 2.5rem;
}

#login .fn {
    margin: 0 1rem;
}

#login .login {
    margin: 0 2rem;
}

#login .reg {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 60%);
    text-align: center;
}

#login .test {
    transition: color .3s, background-color .3s;
}

#login .test:hover {
    color: #333 !important;
    background-color: rgba(255, 255, 255, 80%) !important;
}