@font-face {
    font-family: 'icomoon';
    src: url('../../fonts/icomoon.eot?uy7w7m');
    src: url('../../fonts/icomoon.eot?uy7w7m#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf?uy7w7m') format('truetype'),
        url('../../fonts/icomoon.woff?uy7w7m') format('woff'),
        url('../../fonts/icomoon.svg?uy7w7m#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
#pay a {
    color: black;
    text-decoration:none;
}
#pay .pay__contract_details a{
    text-decoration: underline;
}

#pay .pay__contract{
    padding-top:60px;
}
#pay .w {
    width: 1200px;
    margin: auto;
}

#pay li {
    list-style: none;
}


#pay .img {
    border: 0;
    vertical-align: middle;
}

#pay button {
    cursor: pointer;
}

#pay .header {
    height: 70px;
    background-color: #f5f5f5;
    margin: 30px auto;
}

#pay .logo {
    float: left;
    width: 184px;
    height: 70px;
    border-top: none;
}

#pay .nav {
    float: left;
    margin-left: 120px;
    border-top: 4px solid lightsalmon;
    border-bottom: 2px solid #edeef0;
    line-height: 70px;

}

#pay .nav li {
    float: left;
    margin: 0 25px;
}

#pay .nav li a {
    display: inline-block;
    padding: 0 15px;
    height: 69px;
    font-size: 16px;
    color: #4c4c4c;
}

#pay .nav li a:hover {
    color: lightsalmon;
}

#pay .nav span {
    display: inline-block;
    font-family: 'icomoon';
    font-size: large;
}
#pay .avatar {
    float: right;
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

#pay .avatar__image {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

#pay .avatar a {
    font-size: small;
    color: #333;
    margin-left: 6px;
}
#pay .pay__title,
#pay .pay__content {
    width: 700px;
    margin: auto;
    text-align: center;
}

#pay .pay__title {
    background-image: url(../../assets/imgs/水墨画.jfif);
    background-position: center center;
}

#pay .pay__content {
    height: 420px;
    border-radius: 0% 0% 20% 20%;
    background-image: url(../../assets/imgs/Chinese\ painting.webp);
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 10px 10px 5px #888888;
}

#pay .pay__content__item__title,
#pay .pay__content__item__title,
#pay .pay__contract_details {
    padding-top: 30px;
    padding-bottom: 15px;
}

#pay .pay_btn {
    margin-top: 20px;
}